.ride-requests {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.ride-container {
  display: flex;
  flex-flow: row;
  position: relative;
  border: 3px solid var(--darker-blue);
  border-radius: 15px;
  margin: 10px;
  background-color: var(--main-background);
}

.map-container {
  width: 30%;
  margin-left: 10px;
}

.map-container ul {
  list-style-type: none;
}

.ride-info-container {
  flex-grow: 1;
}

.ride-info-container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}
